@import '~bulma/sass/utilities/_all';

// Page colors
$main-color: #452b8b;
$second-color: rgb(99, 189, 107);
$additional-color: rgb(87, 32, 40);
$color-helper-1: rgb(194, 192, 192);
$color-helper-2: rgb(22, 2, 2);
$color-helper-3: rgb(66, 68, 31);
$color-helper-4: rgb(87, 66, 9);
$color-helper-5: rgb(10, 9, 82);
$color-helper-6: rgb(31, 100, 60);
$color-helper-7: rgb(8, 8, 8);

// Tips colors
$color-info: rgba(76, 135, 184, 0.8);
$color-warning: rgba(255, 231, 17, 0.8);
$color-error: rgba(182, 24, 24, 0.8);

$nav-icon-size: 35px;

@import '~bulma';
@import '~buefy/src/scss/buefy';
